.idea

/app/Config/database.php
/app/tmp/cache/*_*_*
/app/tmp/cache/*_*
/app/tmp/cache/minify/
/app/tmp/logs/*
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*


/app/webroot/uploads/*
!/app/webroot/uploads/empty

/app/webroot/thumbs/*
!/app/webroot/thumbs/empty

/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags

!empty