<div id="footermainPan">
    <div id="footerPan">
{#        <ul>
            <li><a href="/">Home</a>| </li>
            <li><a href="/courses/">Курсы</a>| </li>
            <li><a href="/faculties/">Факультеты</a>| </li>
            <li><a href="/students/">Студенты</a>| </li>
            <li><a href="/teachers">Преподователи</a>| </li>
            <li><a href="/groups/">Группы</a>| </li>
            <li><a href="/subjects">Предметы</a></li>
            <li><a href="/themes">Темы</a></li>
            <li><a href="/tests">Тесты</a></li>
            <li><a href="/questions">Вопросы</a></li>
            <li><a href="/reports">Отчеты</a></li>
        </ul>#}
        <p class="copyright">Testing.onmu.ua. All right reserved.</p>
    </div>
</div>