<h2>Список курсов:</h2>
<table class="table table-striped" style="width: 40%; text-align: center;">
    <tr>
        <th style="text-align: center;">Название</th>
        <th></th>
        <th></th>
    </tr>
    {% for cours in courses %}
        <tr>
            <td style="text-align: center;">  {{ cours.Cours.title}} курс </td>
            <td><a href="/courses/edit/{{ cours.Cours.id }}">изменить</a></td>
            <td><a href="/courses/edit/{{ cours.Cours.id }}">x</a></td>
        </tr>
    {% endfor %}

</table>

<a href="/courses/add">Добавить</a>















