<h2>Добавление теста:</h2>
{{ form.create('Test', {'class':'form'}) }}

    {{ form.hidden('id') }}
    {{ form.hidden('date') }}

        <div class="row">
            <label>Название теста:</label>
            <p class="error"></p>
            {{ form.input('title', {'div' : false, 'label' : false }) }}
        </div>

<div class="row">
    <label>Предмет:</label>

        <select name="data[Test][subject_id]" id="subject_id" >
            {% for subject in subjects %}
                <option {% if subject.Subject.id == _view.request.data['Test']['subject_id'] %}selected="selected" {% endif %} value="{{ subject.Subject.id}}">{{ subject.Subject.title }}</option>
            {% endfor %}
        </select>

</div>
<div class="row">
    <label>Темы:</label>
    <div  id="themes">

    </div>
</div>
<div class="row">
    <label>Курс:</label>

        <select name="data[Test][cours_id]" id="cours_id" >
            {% for cours in courses %}
                <option {% if  cours.Cours.id == _view.request.data['Test']['cours_id'] %}selected="selected" {% endif %} value="{{ cours.Cours.id}}">{{ cours.Cours.title }}</option>
            {% endfor %}
        </select>

</div>
<div class="row">
    <label>Факультет:</label>

        <select name="data[Test][faculty_id]" id="faculty_id" >
            {% for faculty in faculties %}
                <option {% if faculty.Faculty.id == _view.request.data['Test']['faculty_id'] %}selected="selected" {% endif %} value="{{ faculty.Faculty.id}}">{{ faculty.Faculty.title }}</option>
            {% endfor %}
        </select>

</div>


<div class="row">
    <label>Группа:</label>

        <select name="data[Test][group_id]" id="groups" >
            {% for group in groups %}
                <option {% if group.Group.id ==_view.request.data['Test']['group_id'] %}selected="selected" {% endif %} value="{{ group.Group.id}}">{{ group.Group.title }}</option>
            {% endfor %}
        </select>

</div>
<div class="row">
    <label>Преподователь:</label>

        <select name="data[Test][teacher_id]" id="teacher_id" >
            {% for teacher in teachers %}
                <option {% if teacher.Teacher.id == _view.request.data['Test']['teacher_id'] %}selected="selected" {% endif %} value="{{ teacher.Teacher.id}}">{{ teacher.Teacher.sname }} {{ teacher.Teacher.fname }} {{ teacher.Teacher.pname }}</option>
            {% endfor %}
        </select>

</div>
<div class="row">
    <label>Начало диапазона:</label>
    <p class="error"></p>
    {{ form.input('Test.config.min_ip', {'div' : false, 'label' : false }) }}
</div>
<div class="row">
    <label>Конец диапазона:</label>
    <p class="error"></p>
    {{ form.input('Test.config.max_ip', {'div' : false, 'label' : false }) }}
</div>
<div class="row">
    <label>Мин. кол. вопросов по теме:</label>

        <select name="data[Test][config][min]"  >
            {% for min in 2..4 %}
            <option {% if  _view.request.data['Test']['config']['min'] == min %}selected="selected" {% endif %} value="{{ min }}">{{ min }}</option>
            {% endfor %}


        </select>

</div>
<div class="row">
    <label>Макс. кол. вопросов по теме:</label>

        <select name="data[Test][config][max]"  >
            {% for max in 4..8 %}
                <option {% if  _view.request.data['Test']['config']['max'] == max %}selected="selected" {% endif %} value="{{ max }}">{{ max }}</option>
            {% endfor %}


        </select>

</div>




{#<div class="row">
    <label>Статус:</label>
    <div class="row">
        <select name="data[Test][active]" id="subject_id" >

                <option {% if  _view.request.data['Test']['active'] == 0 %}selected="selected" {% endif %} value="0">Деактивирован </option>
                <option {% if  _view.request.data['Test']['sactive'] == 1 %}selected="selected" {% endif %} value="1">Активирован</option>

        </select>
    </div>
</div>#}

    <div class="row">
        <div>
            {{ form.submit('Сохранить', {'class' : 'btn btn-primary'}) }}
        </div>
    </div>

    {{ form.end() }}
<script type="text/javascript">
    $(function() {


///Edit
{% if _view.request.data['Test'] %}
        id = $('#cours_id').val() + '/' + $('#faculty_id').val();
        $.post( "/students/getGroup/" + id + '/' +{{ _view.request.data['Test']['group_id'] }} , function(data ) {
            $('#groups').html( data );

        });

            subject_id = {{  _view.request.data['Test']['subject_id'] }} ;
            checked = $.parseJSON( '{{ _view.request.data['Test']['themes'] }}' );

            $.ajax({
                type: "POST",
                data: {subject_id:subject_id, checked :checked},
                url: "/tests/getThemes/",
                success: function(data){
                    $('#themes').html( data );
                }
            });
{% else %}
        id = $('#cours_id').val() + '/' + $('#faculty_id').val();
        $.post( "/students/getGroup/" + id, function(data ) {
            $('#groups').html( data );

        });
        subject_id = $('#subject_id').val() ;
        $.post( "/tests/getThemes/" + subject_id, function(data ) {
            $('#themes').html( data );

        });
{% endif %}



        $('#subject_id').change(function() {
            subject_id = $('#subject_id').val() ;
            $.post( "/tests/getThemes/" + subject_id, function(data ) {
                $('#themes').html( data );

            });
        });

        $('#cours_id, #faculty_id').change(function() {

            id = $('#cours_id').val() + '/' + $('#faculty_id').val();
            $.post( "/students/getGroup/" + id, function(data ) {
                $('#groups').html( data );
            });
        });

        $('#TestEditForm , #TestAddForm').submit(function() {

           if($( "input:checked" ).length == 0){
               alert('Выбирете тему!');
               return false
           }
        });

    });



</script>














