    <h2>{{ test.title }}</h2><a href="/tests/stop" style="float:right;margin-top: -25px;"><span>Окончить тест</span></a>
    <div id="container" style="margin-left: -150px;">
        <div id="carousel">
            {% for question in questions %}
            <div  class="slide ">
                <h3>{{ question.text }}</h3><br>
                {% if question.type == 0 %}
                    <form id="form{{ question.id }}" method="post" >
                        <input type="hidden" name="priority" value="{{ question.priority }}">
                        <input type="hidden" name="themes_id" value="{{ question.themes_id }}">
                    Введите ответ:
                    <input type="text" name="answer" id="answer{{ question.id }}" >
                        <input type="button" id="{{ question.id }}" value="ответить" onclick="AjaxFormRequest('form{{ question.id }}', '{{ question.id }}')" >
                    </form>
                {% endif %}

                {% if question.type == 1 %}
                    <form id="form{{ question.id }}" method="post" >
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                        <input type="hidden" name="priority" value="{{ question.priority }}">
                        <input type="hidden" name="themes_id" value="{{ question.themes_id }}">
                        Выбирите правильный ответ:<br>
                        <div id="answer{{question.id  }}"><strong>{{ question.answer_correct }}</strong><input type="radio" name="answer" class="answer"   value="{{ question.answer_correct }}" ></div><br>
                        {% for answer in question.answers %}
                        <script type="text/javascript">
                            if(getRandomInt(0,1) == 0){
                                $('#answer{{ question.id  }}').after('<br><div><strong>{{ answer }}</strong><input type="radio" name="answer" class="answer"  value="{{ answer }}" ></div><br>');
                            }
                            else{
                                $('#answer{{ question.id  }}').before('<br><div><strong>{{ answer }}</strong><input type="radio" name="answer" class="answer"  value="{{ answer }}" ></div><br>');
                            }
                        </script>
                        {% endfor %}
                        <input type="button" id="{{ question.id }}" value="ответить" onclick="AjaxFormRequest('form{{ question.id }}', '{{ question.id }}')" >
                    </form>
                {% endif %}
            </div>
            {% endfor %}

        </div>
        <a href="#"  style="float:right"    id="ui-carousel-next"><span>след.</span></a>
        <a href="#" id="ui-carousel-prev"><span>прев.</span></a>

        <div id="pages"></div>
    </div>

<script type="text/javascript">



    function AjaxFormRequest(form_id,url) {
        jQuery.ajax({
            url:     "/tests/save_answer/"+url, //Адрес подгружаемой страницы
            type:     "POST", //Тип запроса
            dataType: "html", //Тип данных
            data: jQuery("#"+form_id).serialize(),
            success: function(response) { //Если все нормально
                $('#alert').html( response );
               // document.getElementById(result_id).innerHTML = response;
            },
            error: function(response) { //Если ошибка
                $('#alert').html( response );
            }
        });
    }
</script>

