<h2>Темы:</h2>
<table width="80%">
    <tr>
        <td>Ид</td>
        <td>Тема</td>
        <td>Предмет</td>
        <td></td>
        <td></td>
    </tr>
{% for theme in themes %}
    <tr>
        <td>{{ theme.Theme.id }}</td>
        <td>{{ theme.Theme.title }}</td>
        <td>{{ subjects[theme.Theme.subjects_id]['title']}} </td>
        <td><a href="/themes/edit/{{ theme.Theme.id }}">изменить</a></td>
        <td> <a href="/themes/del/{{ theme.Theme.id }}">x</a></td>
    </tr>

{% endfor %}
</table>
<br/>
<a href="/themes/add">Добавить</a>









