<h2>Вопросы:</h2>
{% set subj = '' %}
{% set theme = '' %}
{% for question in questions %}

    {% if subj !=  question.subjects_id %}
        <h2>{{ subjects[question.subjects_id]['title'] }}</h2>
        {% set subj =  question.subjects_id %}
    {% endif %}
    {% if theme != question.themes_id %}
        <h4>{{ themes[question.themes_id]['title'] }}</h4>
        {% set theme =  question.themes_id %}
    {% endif %}
    {% if question.priority == 0  %}
    {{ question.text }}  <a href="/questions/edit/{{ question.id }}">изменить</a>  <a href="/questions/del/{{ question.id }}">x</a><br/>
    {% else %}
        <div style="margin-left: 50px; width:200px; float:left"> -->{{ question.text }}</div>  <a href="/questions/edit/{{ question.id }}">изменить</a>  <a href="/questions/del/{{ question.id }}">x</a><br/>
    {% endif %}

    <br>
{% endfor %}

<br/>
<a href="/questions/add">Добавить</a>















