<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>{{ title_for_layout|default('Testing') }}</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</head>

<body>

<div id="topPan">


    <a href="/"><img src="/images/logo_onmu.png"  class="logo"/></a>
    <a href="/admin/logout" class="btn btn-inverse" style="float:right">Logout</a>

    <h3 id="alert" style="color: green;float: right;margin-top: 100px; margin-left: 50px"></h3>




</div>
<!--Выпадающее меню-->
<ul class="nav nav-pills" style="float: right;margin-right: 100px;margin-top: -37px;">

    {#<li class="dropdown"><a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">О компании<b class="caret"></b></a>#}
        {#<!--Выпадающий список-->#}
        {#<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">#}
            {#<li class="dropdown"><a href="">Дата основания</a></li>#}
            {#<li class="dropdown"><a href="">Достижения</a></li>#}
            {#<li class="dropdown"><a href="">Цели</a></li>#}
            {#<li class="dropdown"><a href="">Сотрудники</a></li>#}
        {#</ul>#}
        {#<!--.Выпадающий список-->#}
    {#</li>#}



  {#  <li class="dropdown"><a href="/">Home</a> </li>#}
    <li class="dropdown"><a href="/courses/">Курсы</a> </li>
    <li class="dropdown"><a href="/faculties/">Факультеты</a> </li>
    <li class="dropdown"><a href="/students/">Студенты</a> </li>
    <li class="dropdown"><a href="/teachers">Преподователи</a> </li>
    <li class="dropdown"><a href="/groups/">Группы</a> </li>
    <li class="dropdown"><a href="/subjects">Предметы</a></li>
    <li class="dropdown"><a href="/themes">Темы</a></li>
    <li class="dropdown"><a href="/tests">Тесты</a></li>
    <li class="dropdown"><a href="/questions">Вопросы</a></li>
    <li class="dropdown"><a href="/reports">Отчеты</a></li>
</ul>
<!--.Выпадающее меню-->





<div id="bodyPan">

    <h2>{{ _view.session.flash() }}</h2>
    {{ _view.fetch('content') }}
</div>
<div id="bodybottomPan">
</div>
{{ _view.element('footer') }}

</body>
</html>








