<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>{{ title_for_layout|default('Testing') }}</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</head>

<body>
<div id="topPan">


    <a href="/"><img src="/images/logo_onmu.png"  class="logo"/></a>

    <h3 id="alert" style="color: green;float: right;margin-top: 100px; margin-left: 50px"></h3>
</div>
<div id="bodyPan">
    <h2>{{ _view.session.flash() }}</h2>
    {{ _view.fetch('content') }}

</div>
<div id="bodybottomPan">
</div>
{{ _view.element('footer-front') }}

</body>
</html>








