<h2>Добавление преподователя:</h2>
{{ form.create('Teacher', {'class':'form'}) }}

    {{ form.hidden('id') }}

        <div class="section">
            <label>Имя:</label>
          
            {{ form.input('fname', {'div' : false, 'label' : false }) }}
        </div>
        <div class="section">
            <label>Фамилия:</label>
          
            {{ form.input('sname', {'div' : false, 'label' : false }) }}
        </div>
        <div class="section">
            <label>Отчество:</label>
          
            {{ form.input('pname', {'div' : false, 'label' : false }) }}
        </div>
    <div class="section last">
        <div>
            {{ form.submit('Сохранить', {'class' : 'btn btn-primary'}) }}
        </div>
    </div>

    {{ form.end() }}














